doctype html
html
  head
    link(rel='stylesheet' href='assets/styles/index.css')
    title Learning rxjs
  body
    a(href='/lettercount') lettercount
    #content
      block content
    script(src='assets/js/bundle.js')
