extends index

block content
  div.container
    div.header
      h1 RxJS Letter Counting Example
    div.row
      p Text buffer
        input(type='text' id='toCount')
      p(id='result') Start typing
